/* ==========================================================================
   RESPONSIVE DESIGN
   ========================================================================== */

/* Extra Large Desktops */
@ media screen and (min-width: 2560px) {
}

/* Large Desktops */
@ media screen and (min-width: 1920px) {
    body {
        font-size: 16px; /*default size*/
    }
}

/* Medium Desktops */
@ media screen and (min-width: 1600px) and (max-width: 1919px) {
}

/* Small Desktops */
@ media screen and (min-width: 1280px) and (max-width: 1599px) {
}

/* Adjusted Bento Box effects and Map marker-lines for mobile devices */
@media screen and (max-width: 1279px) {
    .product-group.visible {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .product-group.visible img {
        transform: scale(1.05);
    }
    .product-group.visible figcaption {
        opacity: 1;
    }
    .product-group.visible h3,
    .product-group.visible p,
    .product-group.visible a {
        transform: translateY(0);
    }
    /* .product-group.visible a {
        background: #f1f1f1;
        color: #018E47;
        transform: scale(1.03);
    } */

    .marker-line {
        display: none;
    }
    .country-name {
        color: #7C7C7C;
    }

}

/* PENDING: Add 2 media queries that targets phones/tablets in landscape */

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
    body {
        font-size: clamp(11px, 1.5625vw, 14px); 
    }

    .nav-logo {
        top: 36%;
        /* max-width: 33.333333vw; */
        width: 33.5vw;
    }

    .scroll-progress { 
        right: 3vw;
    }
    .atlas-layer {
        background: url(../images/home-page/atlas-lower-opacity.webp) no-repeat center;
        background-size: cover;
        top: 0;
        height: 100%;
        background-position:calc(44%);
    }
    .atlas-layer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0.1) 0%, 
            rgba(255, 255, 255, 0.7) 20%, 
            rgba(255, 255, 255, 0.05) 73%, 
            rgba(0, 0, 0, 0.2) 100%
        );
        pointer-events: none; /* Ensures it doesn't interfere with interactions */
        z-index: 1; /* Keeps the gradient above the background image but below content */
    }
    
    .landing-content {
        padding: 0;
        margin: 0 8%;
    }
    .landing-text {
        /* top: 20%; */
        top: 23.5%;
        gap: 3.5em;
        /* Center text */
        position: relative;
        margin: 0 auto;
        align-items: center;
    }
    .landing-text h1 {
        text-align: center;
    }
    .text-content {
        max-width: 52vw;
        gap: 2.4em;
        /* Center text */
        align-items: center;
    }
    .text-content p {
        max-width: 46vw;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
    }
    .landing-text .learn-more-btn {
        /* width: 54%; */
        /* Adjusted width to revised parent */
        width: 47%;

        background-color: rgba(255, 255, 255, 0.75); 
        backdrop-filter: blur(6px);

    }
    .landing-image {
        /* width: 80vw; */
        width: 70vw;
        /* right: -8%;  */
        /* Center image */
        right: 10%;

    }

    .map-section > h2 {
        padding: 0 12%;
    }
    .map-section > p {
        padding-left: 20%;
        padding-right: 20%;
    }

    .bottle-image {
        width: 302px;
        left: -65px;
    }
    .leaf-image {
        width: 470px;
        left: -67px;
    }
    .droplet-image {
        width: 95px;
        left: 2%;
        top: 71%;
    }
    .stat-box {
        background-color: rgba(255, 255, 255, 0.84);
    }

    .product-flex {
        padding: 0 10vw 12vh;
    }
    .product-group {
        height: 30.5svh;
        max-width: unset;
    }

    #about-us {
        min-height: 65vh;
        
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    .about-content {
        width: 36vw;
    }
    .about-content h2 {
        padding-bottom: 0;
    }
    #about-us .learn-more-btn {
        width: 68%;
        line-height: 1.05;
    }
    
    .testimonials-header p {
        margin-left: 10%;
        margin-right: 10%;
    }
    .testimonial-card {
        max-width: 56vw;
        height: 20vh;
    }
    .testimonial-card img {
        max-width: 160px;
    }
    .testimonial-card blockquote {
        width: 120%;
    }
}

/* IMPORTANT BREAKPOINT */
/* General/Fallback Styles for Mobile and Small Tablets */
/* Applies to all portrait devices with widths up to 767px */
@media screen and (max-width: 767px) and (orientation: portrait) {
    body {
        font-size: 11px; 
    }
    h2 {
        font-size: 2.6em;
    }
    .nav-links, .fixed-navbar.scrolled .nav-links {
        right: -200px; /* Offscreen on the right */
        width: 200px;
    }
    .nav-logo {
        top: 20%;
        width: clamp(160px, 42vw, 257.266px);
    }
    .scroll-progress { 
        right: 2vw;
        scale: 0.95;
    }
    .atlas-layer {
        /* background-position:calc(40%); */
        background-position: calc(52%);
        background: url(../images/home-page/atlas-lower-opacity.webp) no-repeat center;
        background-size: cover;
        top: 0;
        height: 100%;
    }
    .atlas-layer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0.1) 0%, 
            rgba(255, 255, 255, 0.7) 20%, 
            rgba(255, 255, 255, 0.05) 75%, 
            rgba(0, 0, 0, 0.2) 100%
        );
        pointer-events: none; /* Ensures it doesn't interfere with interactions */
        z-index: 1; /* Keeps the gradient above the background image but below content */
    }
    .landing-content {
        padding: 0;
        margin: 0 12%;
    }
    .landing-text {
        top: 20%;
        gap: 3.5em;
        /* Center text */
        position: relative;
        margin: 0 auto;
        align-items: center;
    }
    .landing-text h1 {
        /* Center text */
        text-align: center;
    }
    .text-content {
        max-width: 62vw;
        gap: 2.2em;
        /* Center text */
        align-items: center;
    }
    .text-content p {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    }
    .landing-text .learn-more-btn {
        /* width: 60%; */
        /* Adjusted width to revised parent */
        width: 52%;

        background-color: rgba(255, 255, 255, 0.75); 
        backdrop-filter: blur(6px);
    }
    .landing-image {
        /* width: 80vw; */
        width: 70vw;
        /* right: -20%; */
        /* Center image */
        right: 5%;
    }

    .map-section > h2 {
        padding: 0 12%;
    }
    .map-section > p {
        padding: 0 15%;
    }

    .stats-section .background-image {
        background-position:calc(65%)
    }
    .bottle-image {
        width: 201.333333px;
        left: 1%;
    }
    .leaf-image {
        width: 313.33333px;
    }
    .droplet-image {
        width: 63.33px;
        left: 11.5%;
        top: 81%;
    }
    .stats-boxes {
        margin: 15% auto;
    }
    .stat-box {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .product-flex {
        padding: 0 10vw 14vh;
    }
    .product-group {
        height: 33svh;
        max-width: unset;
    }

    #about-us {
        min-height: 90vh;
        flex-flow: column-reverse;
        align-items: center;
        justify-content: space-around;
        padding: 7vw;

        overflow: hidden;
    }
    .about-image img {
        max-width: unset;
        min-width: 85vw;
        margin: 6% auto;
    }
    .about-content {
        margin-right: unset;
        aspect-ratio: unset;

        width: 85vw;
    }
    .about-content h2 {
        padding-bottom: 0;
        /* width: 100%; */
    }
    #about-us .learn-more-btn {
        width: 48%;
        line-height: 1.05;
    }

    .testimonials-header p {
        margin-left: 8%;
        margin-right: 8%;
    }
    .testimonial-card {
        max-width: 68vw;
        height: 22vh;
    }
    .testimonial-card img {
        max-width: 150px;
    }
    .testimonial-card blockquote {
        width: 120%;
    }

}

/* General Styles for Standard and Modern Smartphones
   - Targeting devices with DPR between 2 and 4 and viewport widths ≤ 480px.
   - Includes most modern Android devices, iPhones, and slim foldable phones.
   - Examples: Samsung Galaxy S series, iPhone 12-14 series, and Galaxy Z Flip/Fold. */
@media screen and (max-width: 480px) and (min-resolution: 2dppx) and (max-resolution: 4dppx)  {

    body {
        font-size: 11px; 
    }
    .scroll-progress { 
        right: 1vw;
        scale: 0.9;
    }
    
    .nav-logo {
        top: 8%;
        /* max-width: 42vw; */
    }

    .atlas-layer {
        /* background-position:calc(30%); */
    }
    .atlas-layer::before {
        background: linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0.1) 0%, 
            rgba(255, 255, 255, 0.75) 19%, 
            rgba(255, 255, 255, 0.05) 70%, 
            rgba(0, 0, 0, 0.2) 100%
        );

    }
    .landing-content {
        padding: 0;
        margin: 0 10%;
    }
    .landing-text {
        /* top: 18%; */
        top: 21%;
        gap: 2.5em;
    }
    .landing-text h1 {
        font-size: 2.816667em;
    }
    .landing-text p {
        font-size: 1.73333527em;
    }
    .text-content {
        max-width: 70vw;
        gap: 2em;
        max-height: 50vh;
    }
    .landing-text .learn-more-btn {
        /* width: 54%; */
        /* Adjusted width to revised parent */
        /* width: 47%; */
        width: 51%;
    }
    .landing-image {
        /* width: 90vw; */
        width: 84vw;
        /* right: -25%;  */
        /* Center image */
        right: 0;
    }

    .country-name {
        display: none;
    }

    .stats-section .background-image {
        background-position:calc(70%)
    }
    .bottle-image {
        width: 188.75px;
        left: 2%;
    }
    .leaf-image {
        width: 293.75px;
    }
    .droplet-image {
        width: 59.375px;
        left: 16%;
    }
    .stats-boxes {
        margin: 14% auto;
    }
    .stat-box {
        background-color: rgba(255, 255, 255, 0.95);
    }

    #bento-box h2 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-flex {
        padding: 0 8vw 16vh;
    }
    .product-group {
        height: 35svh;
        max-width: unset;
    }
    
    #about-us {
        /* height: 100vh; */
    }
    .about-image img {
        min-width: 80vw;
    }
    .about-content {
        /* padding: 15% 0; */
        /* margin-top: 8%; */
        width: 80vw;
        
        gap: 2.2em;
    }
    #about-us .learn-more-btn {
        width: 57%;
    }

    .testimonials-header h2 {
        margin-left: 8%;
        margin-right: 8%;
    }
    .testimonials-header p {
        margin-left: 14%;
        margin-right: 14%;
    }
    .testimonial-card {
        max-width: 80vw;
        height: 24vh;
    }
    .testimonial-card img {
        max-width: 140px;
    }
}

/* Specific Styles for iPhone SE (2nd Gen and Later)
   - Focused on devices with 16:9 aspect ratio and viewport widths between 360px and 375px.
   - Limited to devices with DPR of 2 for accurate styling.
   - Examples: iPhone SE (2nd/3rd Gen), older 16:9 Android phones. */
@media screen and (min-width: 360px) and (max-width: 375px) and (max-resolution: 2dppx) and (max-aspect-ratio: 9/16) {

    body {
        font-size: 10px;
    }

    .nav-logo {
        top: 6%
    }
    
    .text-content {
        max-width: 65vw;
        /* gap: 2em; */
    }

    .landing-text {
        top: 20%;
    }

    .landing-text h1 {
        font-size: 2.816667em; 
    }
    .landing-text p {
        font-size: 1.667em; 
    }
    .landing-text .learn-more-btn {
        font-size: 1.875375em;
        width: 50%;
        padding: 0.73em 2.1875em;
    }
    .landing-image {
        width: 80vw;
    }
    
    #about-us {
        /* height: 100vh; */
        justify-content: center;
        gap: 5vw;
    }
    .about-content {
        width: 80vw;
        gap: 2em;
        
    }
    .about-image img {
        min-width: 80vw;
    }

    .testimonial-card {
        max-width: 85vw;
    }
    .testimonial-card img {
        max-width: 120px;
    }
}

/* Styles for Tiny Phones or Older/Niche Devices
   - Designed for devices with viewport widths < 360px and DPR of 2.
   - Covers smaller screens such as the iPhone 4s and certain niche or legacy devices.
   - Examples: iPhone 4s, older Android phones, and some compact modern devices. */
@media screen and (max-width: 359px) and (max-resolution: 2dppx) {

    body {
        font-size: 8px;
    }

    .nav-logo {
        top: 4%;
    }

    .scroll-progress { 
        right: 1vw;
        scale: 0.8;
    }

    /* Styles for very small or older phones */
    .atlas-layer {
        background-position:calc(49%);
    }
    .atlas-layer::before {
        background: linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0.1) 0%, 
            rgba(255, 255, 255, 0.7) 22%, 
            rgba(255, 255, 255, 0.05) 72%, 
            rgba(0, 0, 0, 0.2) 100%
        );
        
    }
    .landing-content {
        padding: 0;
        margin: 0 9%;
    }
    .landing-text {
        top: 22%;
        /* font-size: 8.8px; */

        gap: 1.8em;
    }
    .landing-text h1 {
        font-size: 2.816667em;
    }
    .landing-text p {
        font-size: 1.73333527em;
    }
    .text-content {
        max-width: 68vw;
        gap: 2.2em;
    }
    .landing-text .learn-more-btn {
        width: 52%;
    }
    .landing-image {
        width: 70vw;
        /* right: -5%; */
        right: 8.7%;
    }

    #bento-box h2 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-flex {
        padding: 0 8vw 12vh;
    }
    .product-group {
        height: 40svh;
        max-width: unset;
    }

    #about-us {
        height: 110vh;
        padding: 8vw;
    }
    .about-image img {
        min-width: 80vw;
    }
    .about-content {
        width: 80vw;
        gap: 2em;
    }
    #about-us .learn-more-btn {
        width: 56%;
    }

    .testimonial-card {
        height: 28vh;
    }
    .testimonial-card img {
        max-width: 112px;
    }
}






































/* old layouts */
@ media screen and (max-width: 480px) {
    /* Global Typography */
    h 2 {
        font-size: 32px;
        line-height: 40px;
    }

    /* Landing Section */
    . landing-content {
        padding: 120px 20px 0;
    }

    . landing-text h1 {
        font-size: 32px;
        line-height: 40px;
    }

    . landing-text p {
        font-size: 20px;
        line-height: 28px;
    }

   
    /* Testimonials */
    . testimonial-card {
        min-width: 260px;
        padding: 30px 40px;
    }

    . testimonial-card p {
        font-size: 18px;
        line-height: 26px;
    }
}



/* Responsive adjustments to landing*/
@ media screen and (max-width: 1600px) {
    .landing-content {
        padding: 250px 100px 0;
    }
    
    .landing-image {
        width: 900px;
        height: 600px;
    }
}

@ media screen and (max-width: 1200px) {
    .landing-content {
        flex-direction: column;
        align-items: center;
        padding: 200px 50px 0;
    }
    
    .landing-text {
        text-align: center;
        align-items: center;
    }
    
    .landing-image {
        margin-right: 0;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
}